.main-container {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 90vh;
}

.navbar {
    width: 100%;
    height: 44px;
    overflow: hidden;
    background-color: #ee6790 ;
}

.navbar-layout {
    height: 44px;
    margin-bottom: 3px;
}

.navbar-title{
    padding: 12px;
    color: white;
    float: left;
}

.navbar-social-media-icons {
    float: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.text-container {
    width: 100%;
    height: 100%;
    background-color: #A6F7FA;
}

.text-field {
    
}

.text-field-info {
    background-color: #857cfd;
    width: 100%;
    color: white;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    max-width: 100%;
}

.html-container {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.html-output {
    padding: 10px;
}

.html-output-info {
    background-color: #857cfd;
    width: 100%;
    color: white;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.footer {
    width: 100%;
}

.info-segment {
    height: 20px;
}

.fa {
    padding: 14px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 1;
}

.fa-github {
    background: black;
    color: white;
    opacity: 0.5;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    opacity: 0.5;
}